body {
    background-color: aqua;
}

h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    border: 3px double red;
    border-radius: 15px;
    height: 69px;
    width: 376px;
    margin-left: 3px;
}

.abc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: chartreuse;
    opacity: 0.6;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: deeppink;
    
    border-radius: 10px;
    margin: 10px;
}